* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0d0d0d;
  --primary: #ff8c00;
  --text: #ffffff;
  --muted: #cccccc;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.mapboxgl-popup-content {
  color: black;
  font-size: 14px;
}

.mapboxgl-popup-tip {
  border-top-color: white;
}